<h1>dropdown works!</h1>
<h2>Basico</h2>
<p-dropdown [options]="clubes" 
[(ngModel)]="selectedClub" 
optionLabel="clubName">
</p-dropdown>
<h2>Editable</h2>
<p-dropdown [options]="clubes" 
[(ngModel)]="selectedClubCountry" 
[editable]="true" 
optionLabel="clubName">
</p-dropdown>
