<h1>autocomplete works!</h1>

<h3>Demo-1</h3>
<p-autoComplete 
    [(ngModel)]="selectedCountry" 
    [showEmptyMessage]="true" 
    [suggestions]="filteredCountries" 
    (completeMethod)="filterCountry($event)" 
    field="name" 
    [minLength]="1">
</p-autoComplete>
<br><br>
<button pButton type="button" label="Buscar" (click)="search()"></button>
<br>
<h3>Demo-2</h3>
<p-autoComplete 
    [(ngModel)]="seleccionPaises" 
    [suggestions]="filtradoPaises" 
    (completeMethod)="filtroPaises($event)" 
    field="name"
    [multiple]="true">
</p-autoComplete>   
<br><br>
<button pButton type="button" label="Buscar" (click)="search2()"></button>


