<h2>table works!</h2>

<p-table [value]="citys">
    <ng-template pTemplate="header">
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Lenguage</th>
            <th>Population</th>
            <th>Altitude</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-city>
        <tr>
            <td>{{city.country}}</td>
            <td>{{city.cityName}}</td>
            <td>{{city.language}}</td>
            <td>{{city.totalPopulation}}</td>
            <td>{{city.altitude}}</td>
        </tr>
    </ng-template>
</p-table>
