<app-navbar></app-navbar>
<router-outlet></router-outlet>
<h1>Welcome Home</h1>
<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-700 text-center">
        <div class="text-blue-600 font-bold mb-3"><i class="pi pi-discord"></i>&nbsp;PRACTICE PRIMENG</div>
        <div class="text-900 font-bold text-5xl mb-3">Site Web For Practices With Angular And PrimeNG</div>
        <div class="text-700 text-2xl mb-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit numquam eligendi quos.</div>
        <button pButton pRipple label="Join Now" icon="pi pi-discord" class="font-bold px-5 py-3 p-button-raised p-button-rounded white-space-nowrap"></button>
    </div>
</div>





