<h2>radiobutton works!</h2>

<h5>Basic</h5>
<div class="field-radiobutton">
    <p-radioButton name="city" value="Chicago" [(ngModel)]="city" inputId="city1"></p-radioButton>
    <label for="city1">Chicago</label>
</div>
<div class="field-radiobutton">
    <p-radioButton name="city" value="Los Angeles" [(ngModel)]="city" inputId="city2"></p-radioButton>
    <label for="city2">Los Angeles</label>
</div>
<div class="field-radiobutton">
    <p-radioButton name="city" value="New York" [(ngModel)]="city" inputId="city3"></p-radioButton>
    <label for="city3">New York</label>
</div>
